# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.yarnclean

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Binary files
src-tauri/bin/post-rs/*
src-tauri/bin/postcli/*
src-tauri/bin/profiler/*
!src-tauri/bin/post-rs/.gitkeep
!src-tauri/bin/postcli/.gitkeep
